html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

    justify-content: center;
    display: flex;
    flex-direction: column;
}

header {
    margin-left: 10%;
    font-weight: 200;
}

a {
    color: inherit;
    /* Matches the color of parent text */
    text-decoration: none;
    /* Removes the underline */
}



#first-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    justify-self: center;
}

#Picture {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2em;
    margin-left: 2em;
    align-self: center;
}

img {}

#Highlight {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    Margin-left: 3em;
    height: 100%
}

#Highlight h3 {
    display: flex;
    justify-content: left;
    font-weight: 350;

    transition: font-size 0.3s ease;
}

#Highlight h3:hover {
    font-size: 120%;
    font-weight: 120%;
}

#circle-crop {
    height: 15em;
    width: 15em;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

#me {
    position: absolute;
    top: -20%;
    width: 15em;

}

h2 {
    font-weight: 200;
    text-align: center;
}

h4 {
    margin-top: 2px;
    margin-bottom: 2px;
}

h5 {
    font-weight: 150;
    margin: 0px;
}

ul {
    margin-top: 5px;
}




/* Business section */

.Split {
    margin: 0px;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

.text {
    margin: 2vw;
    width: 40%;



}

.text a {
    display: flex;
    justify-content: center;
}

.image {
    width: 40%;
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image img {
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;

}

/*iframe/missionmap */

iframe {
    width: 100%;
    border: none;
    height: 100vh;
}

/*contact section */

#contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    padding: 8px 20px;
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;

}


/* Software/hardware section */

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section h1 {
    text-align: center;
    margin-top: 0;
}

.tiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.horizon {
    display: flex;
    justify-content: center;
}

.tile {
    height: 80%;
    display: flex;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    flex-direction: column;
    align-items: center;
    align-content: center;

    width: 20em;
}

.show {
    max-height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    margin: 5px;
    font-weight: 300;
}

.tile img {

    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 20em;
    object-fit: contain;
}