body {
    background-color: black;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin-left: 8%;
}

header {
    margin-left: 10%;
    font-weight: 200;
}



h2 {
    font-weight: 200;
}

h4 {
    margin-top: 2px;
    margin-bottom: 2px;
}

h5 {
    font-weight: 150;
    margin: 0px;
}

ul {
    margin-top: 5px;
}